*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #788894;
}

section {
  margin: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}

button:focus {
  outline:none !important;
}

main {
  padding: 3rem;
}

@media only screen and (max-width: 768px) {
  main {
    padding: 0;
  }
}
/* Header */
.header {
  display: flex;
  align-self: center;
  justify-content: center;
  clip-path: polygon(20% 0%, 90% 0%, 80% 100%, 10% 100%);
  background-color: #0675ce;
}

@media only screen and (max-width: 768px) {
  .header {
    margin-top: 1rem;
  }
}

.header-title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 768px) {
  .header-title {
    font-size: 2rem;
  }
}

/* Events Container */
.events {
  margin: 2rem 0;
}

/* Events List Container */
.events__list {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.events__list-title {
  text-align: center;
  margin: 1rem;
}

/* Event item */
.events__item {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 1rem;
  margin: 1rem;
  overflow: hidden;
  transition: all 0.2s;
  border: 0.7px solid #dae0e6;
}

.events__item--top {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .events__item--top {
    width: 100%;
  }
}

.events__item--bottom {
  width: 20%;
}

@media only screen and (max-width: 1024px) {
  .events__item--bottom {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .events__item--bottom {
    width: 100%;
  }
}

.events__item:hover {
  cursor: pointer;
  transform: translateY(-3px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 3px;
}

/* Event Item header */
.events__item-header {
  height: 29%;
  display: flex;
  justify-content: center;
}

.events__item-header--top {
  background-color: #3b4146;
}

.events__item-header--bottom {
  background-color: rgba(0, 0, 0, 0.05);
}

.events__item-header--meetup {
  background-color: none;
}

.events__item-header-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}

/* Event Item Header Border */
.events__item-header-border {
  height: 2%;
}



/* Event Item Content */
.events__item-content {
  height: 55%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Event Item Footer*/
.events__item-footer {
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

/* Event Item Content Title */
.events__item-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.events__item-title--free {
  padding-top: 2rem;
}

/* Event Item Location/Date wrapper */
.events__location-data-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Event Item Content Date */
.events__item-date {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 1rem;
}

/* Event Item Content Location */
.events__item-location {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 1rem;
}

/* Details button */
.events__item-details-button {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  border: none;
  border: solid 1px transparent;
  background-clip: content-box, border-box;
  background-origin: border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.events__item-details-button--hackathon {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(6, 117, 206, 1), rgba(37, 193, 203, 1));
}

.events__item-details-button--leap {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(101, 222, 43, 1), rgba(177, 207, 83, 1));
}

.events__item-details-button--mission {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(255, 123, 55, 1), rgba(255, 186, 54, 1));
}

.events__item-details-button--webinar--free {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(113, 6, 206, 1), rgba(186, 156, 156, 1));
}

.events__item-details-button--webinar--premium {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(113, 6, 206, 1), rgba(186, 156, 156, 1));
}

.events__item-details-button--meetup {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, rgba(134,161,241,1), rgba(178,206,6,1));
}

.events__item-details-button:hover {
  cursor: pointer;
}

/* Social Media Icon */
.events__item-twitter {
  font-size: 2rem;
  padding-left: 1rem;
}

/* Premium Span and Icon */
.events__item-diamond {
  color: rgb(255, 186, 54);
  font-size: 1.6rem;
  font-weight: bold;
}

/* Linear Gradients */
.lg--hackathon {
  background: linear-gradient(
      59deg,
      rgba(6, 117, 206, 1) 7%,
      rgba(37, 193, 203, 1) 58%
    )
    left bottom no-repeat;
  background: -webkit-linear-gradient(
      59deg,
      rgba(6, 117, 206, 1) 7%,
      rgba(37, 193, 203, 1) 58%
    )
    left bottom no-repeat;
}

.lg--leap {
  background: linear-gradient(
      59deg,
      rgba(101, 222, 43, 1) 7%,
      rgba(177, 207, 83, 1) 58%
    )
    left bottom no-repeat;
  background: -webkit-linear-gradient(
      59deg,
      rgba(101, 222, 43, 1) 7%,
      rgba(177, 207, 83, 1) 58%
    )
    left bottom no-repeat;
}

.lg--mission {
  background: linear-gradient(
      59deg,
      rgba(255, 123, 55, 1) 7%,
      rgba(255, 186, 54, 1) 58%
    )
    left bottom no-repeat;
  background: -webkit-linear-gradient(
      59deg,
      rgba(255, 123, 55, 1) 7%,
      rgba(255, 186, 54, 1) 58%
    )
    left bottom no-repeat;
}

.lg--webinar--free {
  background: linear-gradient(
      59deg,
      rgba(113, 6, 206, 1) 7%,
      rgba(186, 156, 156, 1) 56%
    )
    left bottom no-repeat;

  background: -webkit-linear-gradient(
      59deg,
      rgba(113, 6, 206, 1) 7%,
      rgba(186, 156, 156, 1) 56%
    )
    left bottom no-repeat;
}

.lg--webinar--premium {
  background: linear-gradient(
      59deg,
      rgba(113, 6, 206, 1) 7%,
      rgba(186, 156, 156, 1) 56%
    )
    left bottom no-repeat;

  background: -webkit-linear-gradient(
      59deg,
      rgba(113, 6, 206, 1) 7%,
      rgba(186, 156, 156, 1) 56%
    )
    left bottom no-repeat;
}

.lg--meetup {
  background: linear-gradient(
      59deg,
      rgba(134, 161, 241, 1) 42%,
      rgba(178, 206, 6, 1) 75%
    )
    left bottom no-repeat;

  background: -webkit-linear-gradient(
      59deg,
      rgba(134, 161, 241, 1) 42%,
      rgba(178, 206, 6, 1) 75%
    )
    left bottom no-repeat;
}

.lg--danger {
  background: linear-gradient(
      59deg,
       rgba(200,33,33,1) 21%,
       rgba(255,149,149,1) 100%
       )
    left bottom no-repeat;

  background: -webkit-linear-gradient(
    59deg,
     rgba(200,33,33,1) 21%,
     rgba(255,149,149,1) 100%
     )
  left bottom no-repeat;
}

/* Icon HTML Gradient for FA SVG */
.events__item-icon-gradient--hackathon svg * {
  fill: url(#hackathon-rg);
}

.events__item-icon-gradient--leap svg * {
  fill: url(#leap-rg);
}

.events__item-icon-gradient--mission svg * {
  fill: url(#mission-rg);
}

.events__item-icon-gradient--webinar--free svg * {
  fill: url(#webinar--free-rg);
}

.events__item-icon-gradient--webinar--premium svg * {
  fill: url(#webinar--premium-rg);
}

.events__item-icon-gradient--meetup svg * {
  fill: url(#meetup-rg);
}

/* Linear Gradient Text */
.lg-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Overlay when event item is clicked */
.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.6);
}

/* Overlay container */
.overlay-container {
  width: 75%;
  height: 75%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  animation: overlay-animation .5s ease;
}

@media only screen and (max-width: 768px) {
  .overlay-container {
    width: 85%;
    height: 85%;
  }
}

/* Overlay Container Animation on enter */
@keyframes overlay-animation {
  0%   { 
    opacity: 0; 
    transform: translateY(-200px);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0);

  }
}

/* Overlay header */
.overlay__header {
  height: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
  .overlay__header {
    margin-top: 0;
  }
}

/* Overlay border */
.overlay__header-border {
  height: 2%;
}

@media only screen and (max-width: 768px) {
  .overlay__header-border {
    height: 1%;
  }
}

.overlay__content {
  height: 45%;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .overlay__content {
    margin: 2rem 1rem;
    padding: 0;
  }
}

/* Overlay location and date container */
.overlay__location-date-container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: initial;
  padding: 0 4rem;
  font-weight: bold;
}

/* Overlay footer */
.overlay__footer {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.overlay__registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/* Overlay title */
.overlay__title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 0 4rem;
}

@media only screen and (max-width: 768px) {
  .overlay__title {
    font-size: 2rem;
  }
}

/* Overlay seprator for date and location */
.overlay__separator {
  padding: 0 1rem;
}

/* Overlay content text */
.event__text {
  text-align: justify;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

/* Overlay location and date container */
.overlay__location-date-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay reg button */
.overlay__registration-button {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  transition: all .2s ease-in;
  cursor: pointer;
  border: none;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.25);
}

/* Overlay reg button hover */
.overlay__registration-button:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.23);
  transform: translateY(-3px);
}

.overlay__registration-button:active {
  transform: translateY(3px);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.25);
}

/* Overlay reg button hover */
.overlay__registration-button--hackathon {
  background-image: linear-gradient(to right,rgba(6, 117, 206, 1) 0%,rgba(37, 193, 203, 1) 58%,rgba(6, 117, 206, 1) 100%);
}
.overlay__registration-button--leap {
  background-image: linear-gradient(to right,rgba(101, 222, 43, 1) 0%,rgba(177, 207, 83, 1) 58%,rgba(101, 222, 43, 1) 100%);
}
.overlay__registration-button--mission {
  background-image: linear-gradient(to right,rgba(255, 123, 55, 1) 0%,rgba(255, 186, 54, 1) 58%,rgba(255, 123, 55, 1) 100%);
}
.overlay__registration-button--webinar--free {
  background-image: linear-gradient(to right,rgba(113, 6, 206, 1) 0%,rgba(186, 156, 156, 1) 58%,rgba(113, 6, 206, 1) 100%);
}
.overlay__registration-button--webinar--premium {
  background-image: linear-gradient(to right,rgba(113, 6, 206, 1) 0%,rgba(186, 156, 156, 1) 58%,rgba(113, 6, 206, 1) 100%);
}
.overlay__registration-button--meetup {
  background-image: linear-gradient(to right,rgba(134, 161, 241, 1) 0%,rgba(178, 206, 6, 1) 58%,rgba(134, 161, 241, 1) 100%);
}
.overlay__registration-button--danger {
  background-image: linear-gradient(to right,rgba(200,33,33,1) 0%,rgba(255,149,149,1) 58%,rgba(200,33,33,1) 100%);
}     

.overlay__registration-success {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  width: 25%;
  margin-top: 4px;
}